

/*Use this for custom css/*/

body { padding-left: 70px;
	padding-right: 70px }

body{
	font-family: helvetica;
    background-color: 
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}



.intro{
	padding-left: 40px;
	padding-right: 40px;

}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color:#505050;
}

.container2{
	margin: 10px;
	margin-left: 0px;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://th01.deviantart.net/fs71/PRE/f/2012/158/1/8/alpha_phi_omega_by_19calvin25-d52otax.jpg);
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    opacity: .85
}