

/*Use this for custom css/*/

body { padding-left: 70px;
	padding-right: 70px }

body{
	font-family: helvetica;
    background-color: #F9F4E1;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}



.intro{
	padding-left: 40px;
	padding-right: 40px;

}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
color:#505050;
}

.container2{
	margin: 10px;
	margin-left: 0px;
}
